<h1>Word Central</h1>

<h2>Submit text for inspection</h2>

<!-- ***** New ***** -->
<form>
  <div>
    <label for="text_inspection_user_text">Text</label><br />
    <textarea name="text_inspection[user_text]" id="text_inspection_user_text"></textarea>
  </div>
</form>
